<div class="ui small modal" id="companyUserModal">
  <i class="close icon"></i>
  <div class="header">
    <h3 style="margin:0px; text-align:center">Create your company account</h3>
  </div>
  <div class="content"> 
    <div class="ui form">     
      <div class="two fields">
        <div class="field">       
          <input placeholder="First Name" type="text">
        </div>
        <div class="field">       
          <input placeholder="Last Name" type="text">
        </div>      
      </div>
      <div class="field">
        <input placeholder="Email" type="text">
      </div>
      <div class="field">
        <input placeholder="Password" type="text">
      </div>
      <div class="field">
        <input placeholder="Confirm Password" type="text">
      </div>
      <div class="field" style="text-align:center">
        <div class="ui positive right labeled icon button">
          Yep, that's me
          <i class="checkmark icon"></i>
        </div>
      </div>
    </div>
  </div>  
</div>