<%= render "normal_user_modal" %>
<%= render "company_user_modal" %>
<div class="ui segment" style="width: 50%; margin: auto; top: 100px; position: relative;">
	<div class="ui two column relaxed fitted stackable grid">
  	<div class="ui top left attached yellow label">Sign Up</div>
	  <div class="center aligned column">
	  	<i class="user icon" style="font-size:2em"></i>
	  	<h3 style="margin-bottom: 40px;">I want to go for classes</h3>
	  	<div id="user" class="ui button book-now positive">Sign up with your email address</div>
	  </div>
	  <div class="ui vertical divider">
	    Or
	  </div>	  
	  <div class="center aligned column" style="padding-top: 4em;">	 
	  	<i class="users icon" style="font-size:2em"></i>
	  	<h3 style="margin-bottom: 40px;">I run courses</h3>
	  	<div id="companyUser" class="ui button book-now red">Let's get started</div>
	  </div>
	</div>
</div>