<div class="ui inverted footer vertical segment" style="background-color: #36464f !important">
  <div class="container">
    <div class="ui stackable inverted divided relaxed grid">
      <div class="eight wide column">
      	<h2 class="ui inverted header">About</h2>
      	<p>Course I Am is the best online and offline booking management system for courses and events. We help you Grow Revenue, Save Time, and Reduce Costs.</p>
      	<div class="ui inverted divided link horizontal list">
				  <%= link_to "About", about_path, :class => "item"  %>
				  <%= link_to "FAQ", faq_path, :class => "item"  %>
				</div>
      </div>
      <div class="four wide column">
        <h5 class="ui teal inverted header"></h5>
        <div class="ui inverted link list">
          <a class="item">hello</a>
          <a class="item">hello</a>
          <a class="item">hello</a>
          <a class="item">hello</a>
        </div>
      </div>
      <div class="four wide column">
        <h5 class="ui teal inverted header"></h5>
        <div class="ui inverted link list">
          <a class="item">Facebook</a>
          <a class="item">Twitter</a>
          <a class="item">Instagram</a>
        </div>
      </div>
    </div>
  </div>
</div>
