<div class="two column stackable ui grid" style="margin:0px;">
	<div class="column sixteen wide" style="background:red; height:200px">
	</div>
	<div class="column seven wide" style="background:blue">
	</div>
	<div class="column nine wide" style="background:green">
		<div class="ui two special cards">
			<% @user.courses.each do |course| %>
			  <div class="card">
			    <div class="dimmable image">
			      <div class="ui dimmer">
			        <div class="content">
			          <div class="center">
			            <div class="ui inverted button">Add Friend</div>
			          </div>
			        </div>
			      </div>
			      <div class="image" style="width: 100%; height: 200px; position: relative; overflow: hidden;">
			      	<%= image_tag(course.image.url, :class => "ui medium rounded", :style => "position: absolute; display: block; top: 0; left: 0;" )%>
			      </div>
			    </div>
			    <div class="content">
			      <a class="header"><%= course.name %></a>
			      <div class="meta">
			        <span class="date">Create in Sep 2014</span>
			      </div>
			    </div>
			    <div class="extra content">
			      <a>
			        <i class="users icon"></i>
			        2 Members
			      </a>
			    </div>
			  </div>  
			<% end %>			
		</div>
	</div>
</div>