<div class="ui top banner test ad homepage-banner" data-text="Top Banner">
	<%# image_tag "banner-test.png", :style => "width: 100%; position: absolute;" %>
	<%= image_tag "london-skyline.png", :style => "width: 100%; position: absolute; height: 100%;" %>
	<div class="content">
		<!-- <h1>Hello World</h1> -->
		<!-- <p>Little text of description</p> -->
		<%= link_to("Discover Courses", course_dates_path, :class => "ui green button", :style => "font-size: 2rem") %>
	</div>
</div>