<div class="ui four column stackable grid">
	<div class="column offer">
		<div class="ui segment blue">
			<div class="content">
				<div class="row header">
					<h3>Small</h3>
					<p>If you have one or two courses a month</p>
				</div>
				<div class="ui divider"></div>
				<div class="row">
					<h4>£19/MONTH</h4>
				</div>
				<div class="row">
					<p>£500 in processed sales / month</p>
				</div>
			</div>
		</div>
	</div>
	<div class="column offer">
		<div class="ui segment yellow">
			<div class="content">
				<div class="row header">
					<h3>Basic</h3>
					<p>Great for testing the waters</p>
				</div>
				<div class="ui divider"></div>
				<div class="row">
					<h4>£49/MONTH</h4>
				</div>
				<div class="row">
					<p>£2,000 in processed sales / month</p>
				</div>
			</div>
		</div>
	</div>
	<div class="column offer">
		<div class="ui segment red">
			<div class="content">
				<div class="row header">
					<h3>VIP</h3>
					<p>For growing companies with expanding courses and booking management needs</p>
				</div>
				<div class="ui divider"></div>
				<div class="row">
					<h4>£99/MONTH</h4>
				</div>
				<div class="row">
					<p>£6,000 in processed sales / month</p>
				</div>
			</div>
		</div>
	</div>
	<div class="column offer">
		<div class="ui segment darker-blue">
			<div class="content">
				<div class="row header">
					<h3>Platinum</h3>
					<p>For companies that require scalability and customization</p>
				</div>
				<div class="ui divider"></div>
				<div class="row">
					<h4>£199/MONTH</h4>
				</div>
				<div class="row">
					<p>£20,000 in processed sales / month</p>
				</div>
			</div>
		</div>
	</div>
</div>