<div class="ui four column stackable grid">
	<div class="column">
		<div class="ui segment" style="background: #b9e5ea;">
			<div class="content" style="text-align:center">
				<div class="row header">
					<h3 style="margin-top:15px">Small</h3>
					<p>If you have one or two courses a month</p>
				</div>
				<div class="ui divider"></div>
				<div class="row">
					<h4>£19/MONTH</h4>
				</div>
				<div class="row">
					<p>£500 in processed sales / month</p>
				</div>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="ui segment" style="background: #ffeeb5;">
			<div class="content" style="text-align:center">
				<div class="row header">
					<h3 style="margin-top:15px">Basic</h3>
					<p>Great for testing the waters</p>
				</div>
				<div class="ui divider"></div>
				<div class="row">
					<h4>£49/MONTH</h4>
				</div>
				<div class="row">
					<p>£2,000 in processed sales / month</p>
				</div>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="ui segment" style="background: #fbcac5;">
			<div class="content" style="text-align:center">
				<div class="row header">
					<h3 style="margin-top:15px">VIP</h3>
					<p>For growing companies with expanding courses and booking management needs</p>
				</div>
				<div class="ui divider"></div>
				<div class="row">
					<h4>£99/MONTH</h4>
				</div>
				<div class="row">
					<p>£6,000 in processed sales / month</p>
				</div>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="ui segment" style="background: #c5eafc;">
			<div class="content" style="text-align:center">
				<div class="row header">
					<h3 style="margin-top:15px">Platinum</h3>
					<p>For companies that require scalability and customization</p>
				</div>
				<div class="ui divider"></div>
				<div class="row">
					<h4>£199/MONTH</h4>
				</div>
				<div class="row">
					<p>£20,000 in processed sales / month</p>
				</div>
			</div>
		</div>
	</div>
</div>