<div class="ui segment no-box-shadow-web" style="height: 100%; margin: 0px; background:none;">
	<div class="two column stackable ui grid">
		<div class="column thirteen wide">
			<div class="ui segment">
				<div class="header">
					<h1>About us</h1>
				</div>
				<div class="content">
					<p>At Courseiam, we make it really easy for people to find and book their chosen course, using our integrated booking and administration system for Course Providers.</p>
				</div>
			</div>
		</div>
		<div class="column three wide">
			<div class="ui segment" style="padding-top: 1em">
				<div class="ui red label" style="margin-left: -1em;">
				  <i class="bookmark icon"></i> About
				</div>
				<div class="ui list">
					<div class="item">
						<%= link_to "<i class='right triangle icon'></i>About".html_safe, about_path %>
					</div>
					<div class="item">
						<%= link_to "<i class='right triangle icon'></i>FAQ".html_safe, faq_path %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>