<div class="ui segment no-box-shadow-web" style="height: 100%; margin: 0px; background:none;">
	<div class="two column stackable ui grid">
		<div class="column thirteen wide">
			<div class="ui segment">
				<div class="header">
					<h1>About</h1>
				</div>
				<div class="content">
					<p>Course I Am is a trusted community marketplace to list, discover and book in-person courses.</p>
					<p>For course providers, we help grow revenue, save time and reduce costs by automating the entire admin and booking process.</p>
					<p>For people looking for interesting courses, we make it really easy to find and book courses.</p>
					<p>We're passionate about knowledge and can't wait to do our part in making the world more knowledge-rich.</p>
				</div>
			</div>
		</div>
		<div class="column three wide">
			<div class="ui segment" style="padding-top: 1em">
				<div class="ui red label" style="margin-left: -1em;">
				  <i class="bookmark icon"></i> About
				</div>
				<div class="ui list">
					<div class="item">
						<%= link_to "<i class='right triangle icon'></i>About".html_safe, about_path %>
					</div>
					<div class="item">
						<%= link_to "<i class='right triangle icon'></i>FAQ".html_safe, faq_path %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>