<div class="ui segment no-box-shadow-web faq">
	<div class="two column stackable ui grid">
		<div class="column three wide">
			<div class="ui segment" style="padding-top: 1em">
				<div class="ui red label" style="margin-left: -1em;">
				  <i class="bookmark icon"></i> About
				</div>
				<div class="ui list">
					<div class="item">
						<%= link_to "<i class='right triangle icon'></i>About".html_safe, about_path %>
					</div>
					<div class="item">
						<%= link_to "<i class='right triangle icon'></i>FAQ".html_safe, faq_path %>
					</div>
				</div>
			</div>
		</div>
		<div class="column thirteen wide">
			<div class="ui segment">
				<div class="header">
					<h1>FAQ</h1>
				</div>
				<div class="content">
					<h3>About Course I Am </h3>
					<p><strong>What is Course I Am?</strong></p>
					<p>Course I Am is a community marketplace to list, discover and book in-person courses from real people anywhere in the world.</p>
					<p>For course/event providers: We help grow revenue, save time and reduce costs by automating the entire admin and booking process.</p>
					<p>For consumers: Course I Am makes the discovery and booking of courses a fast and enjoyable experience.</p>
					<p>&nbsp;</p>
					<p><strong>What can I use Course I Am for?</strong></p>
					<p>For course/event providers: Course I Am combines a superior product to traditional online ticketing/booking systems at a significantly cheaper price point. We enable course/event providers to automate the entire admin process from booking, payment handling, reporting, communication and marketing.</p>
					<p>For consumers: Course I Am is an elegant and beautiful discovery tool for courses.</p>
					<p>&nbsp;</p>
					<p><strong>What is the difference between Course I Am and online courses/YouTube?</strong></p>
					<p>Google, YouTube and learning websites such as Khan Academy focus on the delivery of knowledge and content. Current learning websites provide online courses and lessons digitally but do not provide in-person learning experiences or the ability to connect to people in the real world. That's where Course I Am comes in.</p>
					<p>&nbsp;</p>
					<p><strong>What is your trading address and contact details?</strong></p>
					<p>Our offices are located at 74 Cromford Road, East Putney, London, SW18 1NY and we can be directly contacted at <a href="mailto:hello@courseiam.com">hello@courseiam.com</a>.</p>
					<p>&nbsp;</p>
					<h3>Course/Event Providers</h3>
					<p><strong>Do I have to be a teacher to create a course/event?</strong></p>
					<p>Definitely not. The tools are available for anyone to utilize whether it be cupcake decorating or ukulele playing.</p>
					<p>&nbsp;</p>
					<p><strong>I want to create a course/event but I don’t know the first place to start</strong></p>
					<p>Not a problem at all. We have made the process of creating your courses/events as painless as possible and we’re here every step of the way to help you during the process. Simply send an email to <a href="mailto:hello@courseiam.com">hello@courseiam.com</a> and we'll get you started.</p>
					<p>&nbsp;</p>
					<p><strong>What do I do after I create a course/event?</strong></p>
					<p>It is time to market your course/event. Let’s start off by sharing the course URL on your Facebook and Twitter, and then emailing some of your friends to get them to sign up to the course/event. We also list all courses on our website too for some added exposure.</p>
					<p>&nbsp;</p>
					<p><strong>When do I receive payment from people who have booked my courses?</strong></p>
					<p>Payment (minus any fees if applicable) are deposited electronically in your nominated bank account upon request.</p>
					<p>&nbsp;</p>
					<p><strong>How robust is the financial reporting?</strong></p>
					<p>Booking and financial data are updated in real time so that you remain in control of your business health at all times. The ability to drill down into any transaction to view booking and purchase details are also available.</p>
					<p>&nbsp;</p>
					<p><strong>Does this platform talk to my other systems?</strong></p>
					<p>Yes it does. The Course I Am platform data can be exported and imported into your CRM software, your mailing list software, and your accounting software.</p>
					<p>&nbsp;</p>
					<p><strong>I'm worried that this will require a lot of work on my end</strong></p>
					<p>Not at all. The Course I Am Team will handle the onboarding of all your course and event data, and handle the integration into your website so that you won't have to do a thing. The best thing of all, we have a 24-hour turnaround time so you can go to bed, and wake up the next morning with your new system up and running!</p>
					<p>&nbsp;</p>
					<p><strong>How is the customer support?</strong></p>
					<p>You and your team will have access to our dedicated customer support centre to assist with any queries or support questions that arise.</p>
					<p>&nbsp;</p>
					<p><strong>How will this integrate into my website?</strong></p>
					<p>One simple line of HTML code is all it takes.</p>
					<p>&nbsp;</p>
					<p><strong>Will I have to also update my website as well?</strong></p>
					<p>Not at all. We have developed our technology so that any updates to the Course I Am platform will automatically show on your website as well. (Even if it's adding new courses.)</p>
					<p>&nbsp;</p>
					<h3>Consumers</h3>
					<p><strong>Can I purchase a course for a friend or family member?</strong></p>
					<p>Yes you can. Each ticket has the option to attribute a name and email so you can purchase courses as a gift for a friend or family member.</p>
					<p>&nbsp;</p>
					<p><strong>What currency is payment made and accepted in?</strong></p>
					<p>All payments on Course I Am are made in Great British pounds (GBP).</p>
					<p>&nbsp;</p>
					<p><strong>Are payments made through Course I Am safe?</strong></p>
					<p>Payment safety is something we take very seriously at Course I Am. For this reason, payments made through Course I Am operate on a secure 128 bit or greater secure socket layer (SSL) so that each and every transaction that occurs on Course I Am is protected.</p>
					<p>&nbsp;</p>
					<p><strong>Is there a return and refund policy?</strong></p>
					<p>Yes there is. All sales and refunds are governed by our <a href="/sales_and_refunds">Sales and Refunds</a> page.</p>
					<p>&nbsp;</p>
					<p><strong>How long can I book my course in advance?</strong></p>
					<p>Courses can be booked as soon as it is listed up on the website up until the actual course date. Note that some courses have a minimum cut-off time to ensure course providers have adequate time to prepare.</p>
				</div>
			</div>
		</div>
	</div>
</div>