<div class="row">
	<%= render "homepage_banner" %>
</div>
<div class="row">
	<div class="sub-content">
		<h1 class="about-content header">Discover the best courses around you</h1>
		<h1 class="about-content">We have everything you need to list, discover amd book your courses</h1>
	</div>
</div>
<div class="row">
	<%= render "homepage_categories" %>
</div>
<div class="row">
	<div class="content" style="width: 100%; height:300px;">
	</div>
</div>