<script>
  $(".scroller").click(function(event){
       event.preventDefault();
       //calculate destination place
       var dest=0;
       if($(this.hash).offset().top > $(document).height()-$(window).height()){
            dest=$(document).height()-$(window).height();
       }else{
            dest=$(this.hash).offset().top;
       }
       //go to destination
       $('html,body').animate({scrollTop:dest}, 1000,'swing');
   });
</script>
<div class="content-container">
	<div class="ui top banner test how-it-works-banner" data-text="Top Banner">
		<div class="ui three column stackable grid">
      <div class="column">
      	<i class="compass icon"></i>
      	<h1 class="compass">Discover</h1>
      </div>
      <div class="column">
      	<i class="ticket icon"></i>
      	<h1>Book</h1>
      </div>
      <div class="column">
      	<i class="heart icon"></i>
      	<h1 class="heart">Enjoy</h1>
      </div>
    </div>
    <h2 class="sub-heading" style="font-weight: bold;">Find your new passion at Courseiam...</h2>
    <h2 class="sub-heading">At Courseiam, we make it really easy for people to find and book their chosen course, using our integrated booking and administration system for Course Providers.</h2>
		<div class="ui two column stackable grid buttons">
			<div class="column" >
				<div class="ui inverted yellow button" style="float:right">
          <a class="scroller" href="#destination1">Course Attendee</a>
        </div>
  		</div>
			<div class="column">
				<div class="ui inverted green button" style="float:left">
          <a class="scroller" href="#destination2">Course Provider</a>
        </div>
			</div>
		</div>
	</div>
  <div class="ui top banner test how-it-works-banner" data-text="Top Banner" style="background-color: #36464f; padding-bottom: 16px;" id="destination2">
    <h1 class="sub-heading" style="color:white; padding-top:60px; padding-bottom:20px;">If you're a Course Provider</h1>
    <div class="ui three column stackable grid">
      <div class="column">
        <i class="money icon yellow"></i>
        <h1 class="white">Grow Revenue</h1>
      </div>
      <div class="column">
        <i class="wait icon yellow"></i>
        <h1 class="white">Save Time</h1>
      </div>
      <div class="column">
        <i class="desktop icon yellow"></i>
        <h1 class="white">Reduce costs through automation</h1>
      </div>
      <div class="column">
        <i class="checkmark box icon yellow"></i>
        <h1 class="white">Publish events quickly</h1>
      </div>
      <div class="column">
        <i class="bar chart icon yellow"></i>
        <h1 class="white">Receive course stats</h1>
      </div>
      <div class="column">
        <i class="share alternate square icon yellow"></i>
        <h1 class="white">Free marketing</h1>
      </div>
      <div class="ui inverted red pricing button" id="pricing">View Pricing</div>
    </div>
    <div id="list" class="ui segment panel" style="background:none; box-shadow:none; padding-top: 50px;">
      <%= render "pricing" %>
    </div>
  </div>
  <div class="ui top banner test how-it-works-banner" data-text="Top Banner" style="padding-bottom: 50px;" id="destination1">
    <h1 class="sub-heading" style="padding-top:60px; padding-bottom:20px;">If you're a Course Attendee</h1>
    <div class="ui three column stackable grid">
      <div class="column">
        <i class="compass icon"></i>
        <h1 class="compass">Discover & Book Courses</h1>
      </div>
      <div class="column">
        <i class="grid layout icon"></i>
        <h1>Find Events by Category</h1>
      </div>
      <div class="column">
        <i class="flag icon"></i>
        <h1 class="flag">Receive Updates for Courses you are Intersted in</h1>
      </div>
      <div class="ui inverted red pricing button">
        <%= link_to("Start Discovering", course_dates_path()) %>
      </div>
    </div>
  </div>
</div>




