<div class="row">
	<div class="ui top banner test ad how-it-works-banner" data-text="Top Banner">
		<div class="ui three column stackable grid">
      <div class="column">
      	<i class="map icon"></i>
      	<h1 class="map">Discover</h1>
      </div>
      <div class="column">
      	<i class="ticket icon"></i>
      	<h1>Book</h1>
      </div>
      <div class="column">
      	<i class="heart icon"></i>
      	<h1 class="heart">Enjoy</h1>
      </div>
    </div>
    <h2 class="sub-heading" style="font-weight: bold;">Find your new passion at Courseiam...</h2>
    <h2 class="sub-heading">At Courseiam, we make it really easy for people to find and book their chosen course, using our integrated booking and administration system for Course Providers.</h2>
		<div class="ui two column stackable grid buttons">
			<div class="column" >
				<div class="ui inverted yellow button" style="float:right">Course Attendee</div>
  		</div>
			<div class="column">
				<div class="ui inverted green button" style="float:left">Course Provider</div>
			</div>
		</div>
	</div>
  <div class="ui top banner test ad how-it-works-banner" data-text="Top Banner" style="background-color: #36464f; padding-bottom: 50px;">
    <h1 class="sub-heading" style="color:white; padding-top:60px; padding-bottom:20px;">If you're a Course Provider</h1>
    <div class="ui three column stackable grid">
      <div class="column">
        <i class="money icon yellow"></i>
        <h1 class="white">Grow Revenue</h1>
      </div>
      <div class="column">
        <i class="wait icon yellow"></i>
        <h1 class="white">Save Time</h1>
      </div>
      <div class="column">
        <i class="desktop icon yellow"></i>
        <h1 class="white">Reduce costs through automation</h1>
      </div>
      <div class="column">
        <i class="checkmark box icon yellow"></i>
        <h1 class="white">Publish events quickly</h1>
      </div>
      <div class="column">
        <i class="bar chart icon yellow"></i>
        <h1 class="white">Receive course stats</h1>
      </div>
      <div class="column">
        <i class="share alternate square icon yellow"></i>
        <h1 class="white">Free marketing</h1>
      </div>
      <div class="ui inverted red pricing button">View Pricing</div>
    </div>
  </div>
  <div class="ui top banner test ad how-it-works-banner" data-text="Top Banner" style="padding-bottom: 50px;">
    <h1 class="sub-heading" style="padding-top:60px; padding-bottom:20px;">If you're a Course Attendee</h1>
    <div class="ui three column stackable grid">
      <div class="column">
        <i class="map icon"></i>
        <h1 class="map">Discover & Book Courses</h1>
      </div>
      <div class="column">
        <i class="flag icon"></i>
        <h1>Receive Updates for Courses you are Intersted in</h1>
      </div>
      <div class="column">
        <i class="grid layout icon"></i>
        <h1>Find Events by Category</h1>
      </div>
      <div class="ui inverted red pricing button">Start Discovering</div>
    </div>
  </div>
</div>