<div class="row">
	<div class="ui top banner test ad how-it-works-banner" data-text="Top Banner">
		<div class="ui three column stackable grid">
      <div class="column">
      	<i class="map icon"></i>
      	<h1 class="map">Discover</h1>
      </div>
      <div class="column">
      	<i class="ticket icon"></i>
      	<h1>Book</h1>
      </div>
      <div class="column">
      	<i class="heart icon"></i>
      	<h1 class="heart">Enjoy</h1>
      </div>
    </div>
    <h2 class="sub-heading" style="font-weight: bold;">Find your new passion at Courseiam...</h2>
    <h2 class="sub-heading">At Courseiam, we make it really easy for people to find and book their chosen course, using our integrated booking and administration system for Course Providers.</h2>
		<div class="ui two column stackable grid buttons">
			<div class="column" >
				<div class="ui inverted yellow button" style="float:right">Course Attendee</div>
  		</div>
			<div class="column">
				<div class="ui inverted green button" style="float:left">Course Provider</div>
			</div>
		</div>
	</div>
</div>