<div class="ui segment offer">
	<h2 class="ui header">
	  <div class="content">
	    Grow revenue. Save time. Reduce costs.
	    <div class="sub header">Manage your account settings and set e-mail preferences.</div>
	  </div>
	</h2>
	<div class="ui three column stackable grid">
	  <div class="column">
	    <div class="ui horizontal segment">
	      <div class="value">
					<i class="money icon"></i>
				</div>
				<div class="label" style="color: #4bb8bf;">
					Grow revenue
					<br>
					Sell out faster
					<br>
					Save time & money
				</div>
	    </div>
	  </div>
	  <div class="column">
	    <div class="ui horizontal segment">
	      <div class="value">
					<i class="ticket icon"></i>
				</div>
				<div class="label" style="color: #f1675b;">
					Accept bookings 24/7
					<br>
					Sell gift vouchers
					<br>
					Group bookings
				</div>
	    </div>
	  </div>
	  <div class="column">
	    <div class="ui horizontal segment">
	      <div class="value">
					<i class="book icon"></i>
				</div>
				<div class="label" style="color: #5dc4f4;">
					Manage everything
					<br>
					Streamline workflow
					<br>
					Integrate with daily deals
				</div>
	    </div>
	  </div>
	</div>
	<h2 class="ui header feature">
	  <div class="content">
	    Features
	    <div class="sub header">Pay for a full year. Or pay as you go. No per-user fees.</div>
	  </div>
	</h2>
	<div class="ui icon message features">
		<div class="ui two column stackable grid">
			<div class="column four wide">
		  	<div class="inbox icon">Free with all plans</div>
		  </div>
		  <div class="column twelve wide">
			  <div class="content">
			    <p>Manage UNLIMITED courses and events</p>
			    <p>UNLIMITED customer support for all your staff</p>
			    <p>Features: SSL data encryption (the same as online banks)</p>
			  </div>
			</div>
	  </div>
	</div>
	<div class="ui four column stackable grid">
	  <div class="column" style="padding:0px;">
	  	<div class="ui horizontal segment no-box-shadow-web">
	  		<div class="ui card">
				  <div class="content" style="text-align:center; background: #ffedb8;">
				    <a class="header" style="font-size: 2rem;">Basic</a>
				    <div class="meta">
				      <span class="date" style="font-size: 1rem;"> Ideal for testing out the waters </span>
				    </div>
				  </div>
				  <div class="extra content">
					  <p> £50 /MONTH </p>
					  <p> £89 /MONTH PAID 1 YEAR</p>
					  <p> £75 /MONTH PAID 2 YEARS</p>
				  </div>
				  <div class="extra content" style="background: #f1f2f2;">
					   <p>£2,000 in processed sales / month</p>
					   <p>Deposit payments</p>
					   <p>Gift vouchers</p>
					   <div class="ui yellow button" style="width: 100%;">Sign up now</div>
				  </div>
				</div>
	  	</div>
	  </div>
	  <div class="column" style="padding:0px;">
	  	<div class="ui horizontal segment no-box-shadow-web">
	  		<div class="ui card">
				  <div class="content" style="text-align:center; background-color: #95E5E2">
				    <a class="header" style="font-size: 2rem;">VIP</a>
				    <div class="meta">
				      <span class="date" style="font-size: 1rem;"> For growing companies with expanding courses an  booking management needs </span>
				    </div>
				  </div>
				  <div class="extra content">
					  <p> £50 /MONTH </p>
					  <p> £89 /MONTH PAID 1 YEAR</p>
					  <p> £75 /MONTH PAID 2 YEARS</p>
				  </div>
				  <div class="extra content" style="background: #f1f2f2;">
					   <p>£6,000 in processed sales / month</p>
					   <p>Deposit payments</p>
					   <p>Gift vouchers</p>
					   <div class="ui teal button" style="width: 100%;">Sign up now</div>
				  </div>
				</div>
	  	</div>
	  </div>
	  <div class="column" style="padding:0px;">
	  	<div class="ui horizontal segment no-box-shadow-web">
	  		<div class="ui card">
				  <div class="content" style="text-align:center; background-color: #A7EAB7;">
				    <a class="header" style="font-size: 2rem;">Platinum</a>
				    <div class="meta">
				      <span class="date" style="font-size: 1rem;"> For companies that require scalability and customization </span>
				    </div>
				  </div>
				  <div class="extra content">
					  <p> £50 /MONTH </p>
					  <p> £89 /MONTH PAID 1 YEAR</p>
					  <p> £75 /MONTH PAID 2 YEARS</p>
				  </div>
				  <div class="extra content" style="background: #f1f2f2;">
					   <p>£20,000 in processed sales / month</p>
					   <p>Deposit payments</p>
					   <p>Gift vouchers</p>
					   <div class="ui green button" style="width: 100%;">Sign up now</div>
				  </div>
				</div>
	  	</div>
	  </div>
	  <div class="column" style="padding:0px;">
	  	<div class="ui horizontal segment no-box-shadow-web">
	  		<div class="ui card">
				  <div class="content" style="text-align:center; background-color: #E79898;">
				    <a class="header" style="font-size: 2rem;">Enterprise</a>
				    <div class="meta">
				      <span class="date" style="font-size: 1rem;"> For companies that require custom builds </span>
				    </div>
				  </div>
				  <div class="extra content">
					  <p> £50 /MONTH </p>
					  <p> £89 /MONTH PAID 1 YEAR</p>
					  <p> £75 /MONTH PAID 2 YEARS</p>
				  </div>
				  <div class="extra content" style="background: #f1f2f2;">
					   <p>£2,000 in processed sales / month</p>
					   <p>Deposit payments</p>
					   <p>Gift vouchers</p>
					   <div class="ui red button" style="width: 100%;">Sign up now</div>
				  </div>
				</div>
	  	</div>
	  </div>
	</div>
</div>