<div class="ui small modal" id="normalUser">
  <i class="close icon"></i>
  <div class="header">
    <h3 style="margin:0px; text-align:center">Create your account</h3>
  </div>
  <div class="content"> 
    <div class="ui form">  
      <%= simple_form_for(:user, :url => user_session_path) do |f| %>        
        <div class="field">       
          <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="field">       
          <%= f.password_field :password, autocomplete: "off" %>
        </div>                      
        <div class="field" style="text-align:center">
          <%= f.submit "Continue", :class => "ui positive button" %>          
        </div>
      <% end %>
    </div>
  </div>  
</div>