<div class="column four wide">
    <div class="ui segment">
      <a class="ui teal ribbon label"><i class="ticket icon"></i> Booking Information</a>
      <div class="column">
        <div class="ui header" style="margin-top:10px;">
          <div style="text-align:left" class="content">
            <h4 class="ui header" style=" border-bottom: 1px solid rgba(39, 41, 43, 0.15);">Course</h4>
            <div class="sub header">
              <p style="font-size: 0.9em;"><%= @payment.course_date.course.name %></p>
              <p style="font-size: 0.8em;">Offered by "company name"</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui header" style="margin-top:10px;">
          <div style="text-align:left" class="content">
            <h4 class="ui header" style=" border-bottom: 1px solid rgba(39, 41, 43, 0.15);">Tickets</h4>
            <div class="sub header">
              <p style="font-size: 0.9em;">Ticket price: £<%= @payment.course_date.course.price %></p>
              <p>Booking fee: <%= number_to_currency(@payment.booking_fee , :precision => 2, :unit => "£")  %></p>
              <p>Overall Price:  <span style="font-weight:bold; color:black">£<%= @payment.overall_price %></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>