<div class="ui divided list course-list">
	<% @all_courses.each do |course|%>
	  <div class="item" style="padding-bottom:0px;">
	  	<%= image_tag course.avatar_url(:medium), :style => "width: 240px; padding: 20px;" %>
	    <div class="content course-name">
	      <a class="header"><%= course.name %></a>
	    </div>
	    <div class="content" style="display: inline-block; vertical-align: top; position: relative; top: 50px;">

	    </div>
      <div class="actions">
      	<div class="ui basic buttons" style="margin-right: 0px; float:right;">
				  <div class="ui button"><%= link_to("<i class='edit icon'></i>".html_safe ,edit_course_path(course.id))%></div>
				  <div class="ui button"><%= link_to("<i class='calendar icon'></i>".html_safe, new_course_course_date_path(course.id)) %></div>
				</div>
      </div>
	  </div>
  <% end %>
</div>