<div class="two column stackable ui grid dashboard">
	<div class="column four wide" style="background:red; height: 500px;">

	</div>
	<div class="column twelve wide">
		<div class="row">
			<h1 class="header">Course Management</h1>
			<h3 class="header sub-heading">Manage your courses and check your event analytics</h3>
		</div>
		<div class="row sections">
			<div class="ui three column stackable grid">
				<div class="column">
					<div class="ui black button">Black</div>
				</div>
				<div class="column">
					<div class="ui black button">Black</div>
				</div>
				<div class="column">
					<div class="ui black button">Black</div>
				</div>
			</div>
			<div class="ui divider"></div>
			<div class="upcoming_dates">
				<%= render "upcoming_dates" %>
			</div>
			<div class="previous_dates">
				<%= render "previous_dates" %>
			</div>
		</div>
	</div>
</div>
