<div class="two column stackable ui grid">
    <div class="column five wide">
        <div class="ui segment">
            <div class="column">
                <img class="ui medium rounded image" src="/images/wireframe/square-image.png" style="display:block; margin:auto">    
            </div>
            <div class="ui three column grid">
                <div class="column" style="text-align:center; padding-right:0; padding-left:0">
                    <p>256</p>
                    <p>HOURS TAUGHT </p>
                </div>
                <div class="column" style="text-align:center; padding-right:0; padding-left:0">
                    <p>256</p>
                    <p>HOURS TAUGHT </p>
                </div>
                <div class="column" style="text-align:center; padding-right:0; padding-left:0">
                    <p>256</p>
                    <p>HOURS TAUGHT </p>
                </div>
              </div>
        </div>        
    </div>
    <div class="column eleven wide">
        <div class="ui segment">
           
        </div>
    </div>
</div>