<div class="two column stackable ui grid" style="margin:0px;">
    <div class="column sixteen wide">
        <div class="ui segment">
            <h1 style="margin:0px;">SATURDAY SEWING SESSIONS</h1>
        </div>
    </div>
    <!-- LEFT SIDE -->
    <div class="column five wide">
        <div class="ui segment">
            <div class="column">
                <img class="ui medium rounded image" src="/images/wireframe/square-image.png" style="display:block; margin:auto">    
            </div>
            <div class="ui three column grid">
                <div class="column" style="text-align:center; padding-right:0; padding-left:0">
                    <p>256</p>
                    <p>HOURS TAUGHT </p>
                </div>
                <div class="column" style="text-align:center; padding-right:0; padding-left:0">
                    <p>256</p>
                    <p>HOURS TAUGHT </p>
                </div>
                <div class="column" style="text-align:center; padding-right:0; padding-left:0">
                    <p>256</p>
                    <p>HOURS TAUGHT </p>
                </div>
              </div>
        </div>        
    </div>
    <!-- END OF LEFT SIDE -->
    <!-- RIGHT SIDE -->
    <div class="column eleven wide">
        <div class="ui segment">
            <!-- START OF THE TABLE -->
            <table class="ui striped table">
                <thead>
                    <tr>
                        <th class="one wide">
                            #
                        </th>
                        <th class="six wide">
                            Course Title
                        </th>
                        <th class="two wide center aligned">
                            Date
                        </th>
                        <th class="two wide center aligned">
                            Subscribers
                        </th>
                        <th class="two wide center aligned">
                            Fee
                        </th>
                        <th class="three wide center aligned">
                            Max Revenue
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="collapsing">1</td>
                        <td>Beginners Lovely Laundry Bag</td>
                        <td class="center aligned">04/03/15</td>
                        <td class="center aligned">4/20</td>
                        <td class="center aligned">£49.00</td>
                        <td class="center aligned">£2540.00</td>
                    </tr>
                    <tr>
                        <td class="collapsing">2</td>
                        <td>Beginners Lovely Laundry Bag</td>
                        <td class="center aligned">04/03/15</td>
                        <td class="center aligned">4/20</td>
                        <td class="center aligned">£49.00</td>
                        <td class="center aligned">£2540.00</td>
                    </tr>
                    <tr>
                        <td class="collapsing">3</td>
                        <td>Beginners Lovely Laundry Bag</td>
                        <td class="center aligned">04/03/15</td>
                        <td class="center aligned">4/20</td>
                        <td class="center aligned">£49.00</td>
                        <td class="center aligned">£2540.00</td>
                    </tr>
                    <tr>
                        <td class="collapsing">4</td>
                        <td>Beginners Lovely Laundry Bag</td>
                        <td class="center aligned">04/03/15</td>
                        <td class="center aligned">4/20</td>
                        <td class="center aligned">£49.00</td>
                        <td class="center aligned">£2540.00</td>
                    </tr>
                </tbody>
            </table>  
            <!-- END OF THE TABLE -->
            <div class="ui segment">
                <div class="ui three column grid">
                    <div class="column">
                        <a><div id="course" class="ui button" style="display:block">SEE ALL COURSES</div></a>
                    </div>
                    <div class="column">
                        <a><div id="course" class="ui button" style="display:block">NEW COURSE</div></a>
                    </div>
                    <div class="column">
                        <a><div id="course" class="ui button" style="display:block">NEW DATE</div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF RIGHT SIDE -->
    <div class="column five wide">
        <div class="ui segment">
        </div>
    </div>
    <div class="column eleven wide">
        <div class="ui segment">
        </div>
    </div>
</div>