<div class="ui modal" id="courseDates">
  <i class="close icon"></i>
  <div class="header">
    Profile Picture
  </div>
  <div class="content">    

       
          <%= form_tag course_tickets_path(@course), id: 'ticket_form' do %>            
            <%= select_tag 'start_date', options_from_collection_for_select(@course.upcoming_dates, :id, :pretty_date) %>                
            Quantity: <%= text_field_tag 'quantity', '0' %>
          <% end %>        
     
  </div>
  <div class="actions">
    <div class="ui black button">
      Nope
    </div>
    <button type='submit' form='ticket_form' class="ui positive right labeled icon button">
      Yep, that's me
      <i class="checkmark icon"></i>
    </button>
  </div>
</div>