<div class="ui items segment" style="padding-top:1rem">
    <a class="ui blue ribbon label">BROUGHT TO YOU BY</a>
    <div class="item">
        <div class="image">
            <!-- <img src="img/chef300.png"> -->
            <%= image_tag(@user.avatar_url(:medium), :class => "ui medium rounded course-image" )%>
        </div>
    </div>
    <div class="item">
        <div class="content centred">
            <a class="header"><%= @user.company_name %></a>
            <div class="description">
                <%# truncate(@user.description.html_safe, :length => 150)%>
            </div>
        </div>
    </div>
    <div class="item content centred">
        <!-- <div class="ui tiny statistic">
            <div class="value">256</div>
            <div class="label">HOURS <br>TAUGHT</div>
        </div>
        <div class="ui tiny statistic">
            <div class="value">23</div>
            <div class="label">CLASSES <br>TAUGHT</div>
        </div>
        <div class="ui tiny statistic">
            <div class="value">402</div>
            <div class="label">PEOPLE <br>TAUGHT</div>
        </div> -->
    </div> <!-- .content -->    <!-- .item -->
</div> <!-- .ui.items -->