<div class="ui items segment" style="padding-top:1rem">
    <a class="ui blue ribbon label">BROUGHT TO YOU BY</a>                
    <div class="item">
        <div class="image">
            <img src="img/chef300.png">
        </div>
        <div class="content">
            <a class="header">CHEF MICHAEL’S KITCHEN TIPS & TRICKS</a>
            <div class="description">
                In the pre-Civil War United States, Solomon Northup, a free black man from upstate New York, is abducted and sold into slavery. 
            </div>
            <div class="ui tiny statistic">
                <div class="value">256</div>
                <div class="label">HOURS <br>TAUGHT</div>
            </div>
            <div class="ui tiny statistic">
                <div class="value">23</div>
                <div class="label">CLASSES <br>TAUGHT</div>
            </div>
            <div class="ui tiny statistic">
                <div class="value">402</div>
                <div class="label">PEOPLE <br>TAUGHT</div>
            </div>
        </div> <!-- .content -->
    </div> <!-- .item -->
</div> <!-- .ui.items -->