<div class="ui form time-select" style="max-width: 85%; margin: auto;">
	<div class="four fields">
  	<h3></h3>
  	<div class="field four wide">
  		<%# form.text_field :course_id %>
  	</div>
  	<div class="field four wide">
      <%= form.text_area :content %>
  	</div>
  	<div class="field four wide">
  	</div>
  	<div class="field four wide">
  	</div>
  </div>
</div>
<div class="ui divider" style="margin-top: 100px; margin-bottom: 25px;"></div>
<div class="ui circular labels">
  <a class="ui label" style="display:inline-block; font-size: 1.8571rem;">
    3
  </a>
  <h2 style="display:inline-block">Create Tickets</h2>
</div>