<div class="ui form time-select" style="margin: auto;">
	<div class="fields">
  	<h3></h3>
  	<div class="field" style="width: 100%;">
      <%= form.cktext_area :content %>
  	</div>
  	<div class="field four wide">
  	</div>
  	<div class="field four wide">
  	</div>
  	<div class="field four wide">
  	</div>
  </div>
</div>
