<div class="ui form time-select" style="margin: auto;">
	<div class="fields">
  	<h3></h3>
  	<div class="field" style="width: 100%;">
      <%= form.cktext_area :content %>
  	</div>
  	<div class="field four wide">
  		<%# form.file_field :attachment_one %>
  	</div>
  	<div class="field four wide">
  		<%# form.file_field :attachment_two %>
  	</div>
  	<div class="field four wide">
  		<%# form.file_field :attachment_three %>
  	</div>
  </div>
</div>
