<select class="ui search dropdown" id="course_course_addresses_attributes_0_county" name="county">
	<option value="">County</option>
	<option>Bedfordshire</option>
  <option>Berkshire</option>
  <option>Bristol</option>
  <option>Buckinghamshire</option>
  <option>Cambridgeshire</option>
  <option>Cheshire</option>
  <option>City of London</option>
  <option>Cornwall</option>
  <option>Cumbria</option>
  <option>Derbyshire</option>
  <option>Devon</option>
  <option>Dorset</option>
  <option>Durham</option>
  <option>East Riding of Yorkshire</option>
  <option>East Sussex</option>
  <option>Essex</option>
  <option>Gloucestershire</option>
  <option>Greater London</option>
  <option>Greater Manchester</option>
  <option>Hampshire</option>
  <option>Herefordshire</option>
  <option>Hertfordshire</option>
  <option>Isle of Wight</option>
  <option>Kent</option>
  <option>Lancashire</option>
  <option>Leicestershire</option>
  <option>Lincolnshire</option>
  <option>Merseyside</option>
  <option>Norfolk</option>
  <option>North Yorkshire</option>
  <option>Northamptonshire</option>
  <option>Northumberland</option>
  <option>Nottinghamshire</option>
  <option>Oxfordshire</option>
  <option>Rutland</option>
  <option>Shropshire</option>
  <option>Somerset</option>
  <option>South Yorkshire</option>
  <option>Staffordshire</option>
  <option>Suffolk</option>
  <option>Surrey</option>
  <option>Tyne and Wear</option>
  <option>Warwickshire</option>
  <option>West Midlands</option>
  <option>West Sussex</option>
  <option>West Yorkshire</option>
  <option>Wiltshire</option>
  <option>Worcestershire</option>
</select>