<div class="ui pusher" style="margin-top:10px;">
    <div class="ui special cards" style="margin:0px;">
        <% @courses.each do |course| %>   
            <div class="card">
                <div class="dimmable image">
                  <div class="ui dimmer">
                    <div class="content">
                      <div class="center">
                        <div class="ui inverted button"><%= link_to 'Details', course_path(course) %></div>
                      </div>
                    </div>
                  </div>   
                  <%= image_tag course.avatar_url(:medium)%>                                 
                </div>
                <div class="content">
                  <a class="header"><%= course.name %></a>
                  <div class="meta">
                    <span class="date">Create in Sep 2014</span>
                  </div>
                </div>                
            </div>
        <% end %>
    </div>
</div>