<div class="grid-block small-up-3">
	<% @courses.each do |course| %>
	<div class="grid-block"></div>
	  <%= course.name %>  					
	  <%= link_to "view", course_path(course) %>
	</div>  				
	<% end %>
</div>

