<div class="ui pusher" style="padding-top:10px;">
    <div class="ui special cards" style="margin:0px;">
        <% @courses.each do |course| %>
            <div class="card">
                <div class="ui fluid image">

                <!-- sold out banner -->

                  <!-- <a class="ui left red corner label" style="font-size: 1.5rem; text-align: left;">
                    <span style="font-size: 1rem; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(315deg); position: inherit; top: 30%;">
                      Sold out
                    </span>
                  </a>                   -->

                <!-- end of sold out banner -->

                  <%= link_to (image_tag course.avatar_url(:medium), :style => "width:100%; vertical-align: top;"), course_path(course) %>
                </div>
                <div class="content">
                  <a class="header"><%= link_to course.name, course_path(course) %></a>
                </div>
                <div class="extra content">
                  <span class="left floated like">
                    <i class="calendar icon"></i>
                    <%= course.upcoming_date.start_date.strftime("%d, %b, %Y") %>
                  </span>
                  <span class="right floated star">
                    <%= number_to_currency(course.price, :precision => 2, :unit => "£")  %>
                  </span>
                </div>
            </div>
        <% end %>
    </div>
</div>