<div class="ui pusher">
    <div class="ui special cards">
        <% @courses.each do |course| %>   
            <div class="card">
                <div class="dimmable image">
                  <div class="ui dimmer">
                    <div class="content">
                      <div class="center">
                        <div class="ui inverted button"><%= link_to 'Details', course_path(course) %></div>
                      </div>
                    </div>
                  </div>                  
                  <img src="img/cooking300.png">
                </div>
                <div class="content">
                  <a class="header"><%= course.name %></a>
                  <div class="meta">
                    <span class="date">Create in Sep 2014</span>
                  </div>
                </div>
                <div class="extra content">
                  <a>
                    <i class="users icon"></i>
                    2 Members
                  </a>
                </div>
            </div>
        <% end %>
    </div>
</div>