
<!-- this is the modal that has all the terms and conditions in it -->
<%= render "terms_and_conditions_modal" %>

<!-- this is the form for creating a new course -->
<%= render "new_courses_form" %>


<!-- this is the button to show the terms and conditions modal -->
<div id="terms" class="ui button labeled icon basic">
	<i class="icon pencil"></i>
	Terms & Conditions  
</div>