	<div class="ui segment orange raised">
	<%= form_for @course, remote: true, :html => {:class => 'ui form fluid'} do |form|  %>

	<div class="fields inline">

		<div class="field six wide">	
			<button id="upload_button" class="ui primary button">Upload Image</button>
			<input  id="course_image" name="your_name" type="file"/>

			<script>
				
			</script>
			<!-- <a href="#" onclick="document.getElementById('course_image').click(); return false;" />
				<i class="upload icon"></i> 
				<input class="ui primary button" type="file">Upload Image</input>
			</a>
			<input type="file" id="course_image" name="course[image]"/> -->

			
		</div>		

		<div class="field four wide">			
			<div class="ui label pointing below red"><i class="icon asterisk"></i> Name </div>
			<%= form.text_field :name %>			
		</div>

		<div class="field twelve wide">			
			<div class="ui label pointing below blue"><i class="icon asterisk"></i> Blurb </div>
			<%= form.text_field :blurb %>			
		</div>

		<div class="field ten wide">
			<div class="ui label pointing below blue"><i class="icon asterisk"></i> Description </div>
			<%= form.text_area :description %>			
		</div>

	</div>

	<% end %>
</div>