<p>
  <strong>Address:</strong>
  <% @course.course_addresses.each do |address| %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= address.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= address.longitude %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{address.latitude}%2C#{address.longitude}" %>

<% end %>