<div class="ui pusher stackable padded grid">
        <!-- LEFT CONTENT -->
        <div class="ten wide column __blue">
            <div class="ui items">
                <h2 class="ui header">CHEF MICHAEL’S ONE DAY BREAD BAKING WORKSHOP</h2>
                        <br>
                <div class="item">
                    <div class="image">
                        <img src="img/cooking300.png">
                    </div>
                    <div class="content">
                        <div class="ui list">
                            <div class="item">
                                <a><i class="calendar icon"></i>Sat 23 March 2015</a>
                            </div>
                            <div class="item">

                                <a><i class="clock icon"></i>11:00 - 19:00</a>
                            </div>
                            <div class="ui tag labels">
                              <a class="ui label">
                                $10.00
                              </a>
                            </div>
                        </div>
                        <!-- <br> -->
                        <div class="item secure">
                                <h6 class="secure-spot">SECURE A SPOT IN THIS COURSE</h6>
                            </div>
                        <div class="item">
                            <a><div class="massive ui button book-now">BOOK NOW</div></a>
                        </div>
                    </div> <!-- .content -->
                </div> <!-- .item -->
            </div> <!-- .ui.items -->

            <div class="ui divider"></div>
            <h3 class="ui header">ABOUT THIS COURSE</h3>
            <p>In the tumultuous business of cutting-in and attending to a whale, there is much running backwards and forwards among the crew. Now hands are wanted here, and then again hands are wanted there. There is no staying in any one place; for at one and the same time everything has to be done everywhere. It is much the same with him who endeavors the description of the scene. </p>

            <p>We must now retrace our way a little. It was mentioned that upon first breaking ground in the whale's back, the blubber-hook was inserted into the original hole there cut by the spades of the mates. But how did so clumsy and weighty a mass as that same hook get fixed in that hole? It was inserted there by my particular friend Queequeg, whose duty it was, as harpooneer, to descend upon the monster's back for the special purpose referred to. </p>
        </div> <!-- .column -->

        <!-- END OF LEFT CONTENT -->


        <!-- RIGHT CONTENT -->
        <div class="six wide column">
            <h5 class="ui top attached header address">23, Cotswold Lane, Notting Hill, London SW1 3GF</h5>
            <div class="ui attached segment map">
              <div class="gmap"></div>
            </div>
            <div class="ui style fluid accordion">
                <div class="active title __gold">
                    <i class="dropdown icon"></i>
                    WHAT TO BRING?
                </div>
                <div class="content">
                    <p>No extras.</p>
                </div>
                <br>
                <div class="active title __gold">
                    <i class="dropdown icon"></i>
                    WHAT TO WEAR?
                </div>
                <div class="content">
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.</p>
                </div>
                <br>
                <div class="active title __gold">
                    <i class="dropdown icon"></i>
                    WHY SHOULD I ATTEND?
                </div>
                <div class="content">
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div> 
            <!-- END OF ACCORDION -->

            <div class="ui divider" style="margin-top: 100px"></div>
            
            <!-- BROUGHT TO YOU BY -->
            <div class="ui items">
                <p><em>BROUGHT TO YOU BY</em></p>
                <div class="item">
                    <div class="image">
                        <img src="img/chef300.png">
                    </div>
                    <div class="content">
                        <a class="header">CHEF MICHAEL’S KITCHEN TIPS & TRICKS</a>
                        <div class="description">
                            In the pre-Civil War United States, Solomon Northup, a free black man from upstate New York, is abducted and sold into slavery. 
                        </div>
                        <div class="ui tiny statistic">
                            <div class="value">256</div>
                            <div class="label">HOURS <br>TAUGHT</div>
                        </div>
                        <div class="ui tiny statistic">
                            <div class="value">23</div>
                            <div class="label">CLASSES <br>TAUGHT</div>
                        </div>
                        <div class="ui tiny statistic">
                            <div class="value">402</div>
                            <div class="label">PEOPLE <br>TAUGHT</div>
                        </div>
                    </div> <!-- .content -->
                </div> <!-- .item -->
            </div> <!-- .ui.items -->
        </div> <!-- .column -->
    </div> <