<p>Hi,</p>
<p>Thans for requesting us to withdraw <%= number_to_currency(@user.balance, :precision => 2, :unit => "£") %> to you bank acccount.</p>
<p>Our finace team deals with payments every Friday, We will email you once your funds have been deposisted,</p>
<p>Best wishes,</p>
<p>Tom</p>