.course-list{
	.content.course-name{
		display: inline-block;
		vertical-align: top;
		top: 20px;
		position: relative;
	}
}

.admin-board{
	.column.three.wide{
		float: right;
		@media only screen and (max-width: 768px) {
			float: none;
		}
	}
	.column.thirteen.wide{
		@media only screen and (max-width: 768px) {
			position: relative;
			top: 20px;
		}
	}
}