.course-list{
	max-height: 500px;
	overflow-y: scroll;
	.item{
		padding-bottom: 0px;
		.course-image{
			width: 240px;
			padding: 20px;
			padding-bottom: 0px;
			@media only screen and (max-width: 768px) {
				margin: auto;
				display: block;
			}
		}
		.content{
			display: inline-block;
			vertical-align: top;
			position: relative;
			top: 20px;
			@media only screen and (max-width: 768px) {
				width: 100%;
				text-align: center;
			}
			.ui.link.list{
				width:450px;
				margin-left: 100px;
				margin-top: 30px;
				@media only screen and (max-width: 768px) {
					margin-left: 0px;
					width: 100%;
					margin-top: 10px;
				}
				.item.date-link{
					width: 49%;
					display: inline-block;
					padding-bottom:20px;
					@media only screen and (max-width: 768px) {
						width: 75%;
					}
				}
			}
		}
		.actions{
			.ui.basic.buttons{
				margin-right: 0px;
				float:right;
			}
		}
	}
}

.admin-board{
	.column.three.wide{
		float: right;
		@media only screen and (max-width: 768px) {
			float: none;
		}
	}
	.column.thirteen.wide{
		@media only screen and (max-width: 768px) {
			position: relative;
			top: 20px;
		}
	}
}