/*
  *= require jquery-ui/datepicker
  *= require jquery.Jcrop
  *= require_self
  *= require_tree
*/
@import "semantic-ui";

@import "payments";
@import "courses";
@import "footer";
@import "offer";
@import "web-header";
@import "mobile-header";
@import "book_date_modal";

body{
  margin: 0px;
  font-family:'Helvetica neue',Helvetica,arial,sans-serif;
  overflow-x:hidden;
}

.mobile{
  display: none !important;
}

.web{
  display: block !important;
}

.ui.segment[class*="bottom attached"] {
  margin-bottom: 0px;
}

.ui.form.time-select select{
  width: 45%;
  display: inline-block;
}


.right-side {
  width: 100%;
  position: relative;
  z-index: 1;
}

.ui.ribbon.label{
  left: -3rem
}

.ui.segment{
  padding: 2em 2em;
  @media only screen and (max-width: 768px) {
    padding: 1em 1em;
  }
}

.map_style{
  width: 100%;
  height: 180px;
}


.__gold {
  background-color: #D2CA72;
}

.__blue {
  background-color: #70B7BA;
}

.gmap {
    width: 100%;
}

iframe {
    height:inherit;
    width:inherit;
}

.ui.segment.map {
  padding: 0 0 1rem  0;
  border: 0;
  background-color: transparent;
  margin-bottom: 1rem;
}

.column.__blue {
  height: 100vh;
}

.secure {
  margin-left: 3rem;
}
.secure-spot {
  margin-bottom: 0.5rem;
}


.ui.massive.button.book-now {
  font-size: 1.4rem;
  width: 16rem;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  background: #F5B286;
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.50);
  border-radius: 2px;
}

.fixed.launch.button {
position: fixed;
top: 40px;
left: -1px;
width: 40px;
height: auto;
white-space: nowrap;
overflow: hidden;
}




/*============================

      prov-page.html

============================*/

.ui.grid.prov > .row {
  padding: 0;
}

.prov-header {
  background: url(../img/baking.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 250px;
  top: 200px;
}

#prov-right {
  height: 100vh;
  overflow-y: scroll;
}


#prov-left {
  height: 100vh;
}



/*============================

  Overriding semantic.css

============================*/

body.pushable > .pusher {
  background-color: #eee;
}

.ui.grid > .column:not(.row) {
padding-top: 1rem;
}

.ui.grid > .column:not(.row), .ui.grid > .row > .column {
padding-left: 1rem;
padding-right: 1rem;
}

.ui.divider:not(.vertical):not(.horizontal) {
  border-top: 1px solid rgba(0, 0, 0, 0.6);
  border-bottom: 0;
}

.ui.celled.grid, .ui.celled.grid > .row,
.ui.celled.grid > .row > .column {
  box-shadow: none;
}

.ui.attached.header.address {
  background-color: #D2CA72;
}

.ui.vertical.menu.__details {
  background-color: #70B7BA;
}

.ui.items > .item > .image:not(.ui) {
width: 200px;
}


.image-banner{
  position: relative;
  width: 100%;
  height: 200px;
  .img-banner{
    width:100%;
  }
}
  .image-banner:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:1;
}

.no-box-shadow-web{
  box-shadow: none !important;
}

.content-container{
  width: 100%;
  margin: 0 auto;
  min-height:80%;
  padding-top:80px;
  @media only screen and (max-width: 768px) {
    padding-top: 50px;
  }
}

.ui.cards > .card,
.ui.card{
  width: 235px;
  @media only screen and (max-width: 568px) {
    float: none;
    margin: 0em auto 1.5em;
    width: 75%;
  }
}

.ui.special.cards.container{
  margin-left: auto !important;
  margin-right: auto !important;

  @media (min-width: 1245px){
    width: 1245px;
  }
  @media (min-width:996px) and (max-width : 1245px ) {
    width: 996px;
  }
  @media (min-width:768px) and (max-width : 996px ) {
    width: 747px;
  }
  @media (min-width:568px) and (max-width : 768px ) {
    width: 498px;
  }
  @media (min-width:498px) and (max-width : 568px ) {
    width: 100%
  }

}



@media only screen and (max-width: 768px) {

  .mobile{
    display: block !important;
  }

  .web{
    display: none !important;
  }

  .no-box-shadow{
    box-shadow: none !important;
  }
  .ui.grid{
    margin-top: 0rem;
  }

  .ui.form .inline.field > label,{
    display: block !important;
  }

  .ui.stackable.grid{
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .ui.stackable.grid > .wide.column, {
    padding: 0px !important;
  }

}