// Place all the styles related to the course_dates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category-buttons{
	width: 100%;
	margin: auto !important;
	.button{
		width: 100%;
		@media only screen and (max-width: 768px) {
			border-radius: 0px;
		}
	}
	.red.button.is-checked{
		background-color: #ff695e;
		color: white;
	}
	.yellow.button.is-checked{
		background-color: #ffe21f;;
		color: black;
	}
	.blue.button.is-checked{
		background-color: #54c8ff;
		color: white;
	}
	.orange.button.is-checked{
		background-color: #ff851b;
		color: white;
	}
	.green.button.is-checked{
		background-color: #2ecc40;
		color: white;
	}
	.purple.button.is-checked{
		background-color: #cdc6ff;
		color: black;
	}
}

.ui.special.cards.container.isotope.course-dates{
	margin-top: 25px;
	.element-item{
		background-color: #36464f !important;
		.item.center{
			margin-top: 25px;
			.ui.inverted.button{
				color: white !important;
				&:hover{
					color: black !important;
				}
			}
		}
	}
}

.ticket.table{
	width: 100%;
  border: 1px solid #d4d4d5;
  .ticket.table.row{
  	width: 100%;
  	background:#f0f0f0;
  	height:35px;
  	display:table;
  }
}


#moreTicketRow{
	display: none;
}
#moreTicket{
  display: none;

}

#numberDatesField{
	display: none;
	width: 23%;
  margin-top: 15px;
}
