// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.blue-background{
	background: #70b7ba;
	overflow: auto;
	.new_course{
		padding-left: 30px;
		padding-right: 0px;
		margin-top: 60px;
		overflow-x: hidden;
	}
	.create-course-button{
		width: 154px;
		background: #182123;
		border: none;
		border-radius: 20px;
		height: 47px;
		color: #d5ddd5;
		left: 139px;
		margin: auto;
		display: block;
		position: relative;
		top: -127px;
	}
	.image-field{
		width: 300px;
		height: 300px;
		display: inline-block;
		background: white;
		float: left;
	}
	.field{			
		width: 631px;
		margin-left: 27px;
		display: inline-block;		
		label{
			display: inline-block;
		}
		input{
			width: 424px;
			border-radius: 2px;
			height: 24px;
			margin-left: 5%;
		}
	}
	.bottom-field{
		display: inline-block;
		margin-top: 30px;
		input{
			width: 100%;
		}
		#course_Date_1i{
			width: 65px;
			margin-right: 20px;
		}
		#course_Date_2i{
			width: 106px;
			margin-right: 26px;
		}
		#course_Date_3i{
			width: 59px;
		}
		#course_Date_4i{
			width: 50px
		}
		#course_Date_5i{
			width: 50px
		}
		#course_end_time_4i{
			width: 50px
		}
		#course_end_time_5i{
			width: 50px
		}
	}
	.left{
		float: left;
	}
	.middle{
		margin-left: 26px;
		margin-top: 10px;
	}
	.right{
		float: right;
		position: relative;
		top: -171px;
		width: 290px;
		right: 40px;
	}
}
		



.large-block-grid-3{
	li{
		position: relative;
		.course-pic{			
			width: 100%;
			height: 310px;
		}
		.image-overlay{
			position: absolute;			
			bottom: 20px;
			background: black;
			width: 93.7%;
			height: 25%;
			opacity: 0.8;
			.class-info-left{
				color: white;
				width: 77%;
				display: inline-block;
				margin-left: 2%;
				font-size: 15px;
				height: 43%;
			}
			.class-info-right{
				width: 16%;
				display: inline-block;
				margin-left: 4%;
				color: white;
			}			
			.date{
				width: 30%;
				text-align: right;
			}
			.location{
				width: 62%;
			}
		}
	}
}