// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.two.column.stackable.ui.grid.dashboard{
	margin-top: 0px;
	.header{
		text-transform: uppercase;
	  letter-spacing: 1px;
	  -webkit-font-smoothing: auto;
	  font-size: 25px;
	  font-weight: 300;
	  margin-left:25px;
	}
	.sub-heading{
		font-size: 18px;
		text-transform: none;
	}
	.row.sections{
		padding-top: 60px;
		.button.selected{
			background: red !important;
		}
		.column{
			text-align: center;
		}
		.upcoming_dates{
			padding-top: 5px;
			padding-bottom: 40px;
			.upcoming-dates-table{
				width: 95%;
				margin: auto;
			}
		}
		.previous_dates{
			padding-top: 5px;
			padding-bottom: 40px;
			.previous-dates-table{
				width: 95%;
				margin: auto;
			}
		}
		.course_list{
			padding-top: 5px;
			padding-bottom: 40px;
			.course-list-table{
				width: 95%;
				margin: auto;
			}
		}
	}
}