.homepage-banner{
  width: 100%;
  display: table;
  overflow: hidden;
  position: relative;
  background: url("ingredient.png") no-repeat fixed center;
  height: 500px;
  .content{
  	z-index: 2;
	  color: black;
	  text-align: center;
	  width: 100%;
	  height: 100%;
	  display: table-cell;
	  vertical-align: middle;
	  position: relative;
  }
}

.sub-content{
	margin-left: 45px;
	padding-top: 50px;
  padding-bottom: 50px;
	.about-content{
		text-transform: uppercase;
	  color: #4A90E2;
	  letter-spacing: 1px;
	  -webkit-font-smoothing: auto;
	  font-size: 18px;
	  font-weight: 300;
	  height: 100%;
	  padding: 1rem;
	}
	.header{
		font-size: 23px;
		font-weight: bold;
	}
}

.homepage-category{
	padding-bottom: 0px;
	width: 100%;
  display: table;
  height: 500px;
  overflow: hidden;
  position: relative;
	.header{
	  padding-top: 67px;
	  color: white;
	  font-weight: 100;
	  font-size: 42px;
	  width: 94%;
	  margin: auto;
	  margin-bottom: 60px;
	  position: relative;
	}
	.category-content{
		width: 94%;
		margin: auto;
		.category{
			width: 17%;
			height: 215px;
			margin: 1.3%;
			background-color: #36464f;
			cursor: pointer;
			@media only screen and (max-width: 768px) {
				width: 61%;
				display: block;
			  margin-left: auto;
			  margin-right: auto;
			}
			.category-link{
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 12;
				display: block;
			}
			.visible.content{
				width:100%;
				height: 100%;
			}
			.hidden.content{
			  width: 100%;
			  display: table;
			  height: 100%;
			  .category-title{
			  	vertical-align: middle;
	  			display: table-cell;
	  			text-align: center;
			  }
			}
		}
	}
}

.ui.fade.reveal > .visible.content {
	opacity: 0;
}

.ui.fade.reveal:hover > .visible.content {
	opacity: 1;
	transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1) 0.15s;
}

.ui.fade.reveal:hover > .hidden.content {
	z-index: 4 !important;
	color: white;
}

.content.how-it-works{
	.header{
		padding-top: 67px;
	  color: #4A90E2;
	  font-weight: 100;
	  font-size: 42px;
	  width: 94%;
	  margin: auto;
	  margin-bottom: 60px;
	  position: relative;
	}
	.circles{
		width: 90%;
  	margin: auto;
  	@media only screen and (max-width: 768px) {
  		width: 100%;
  	}
		.circleBase{
			border-radius: 50%;
		}
		.type1 {
	    width: 250px;
	    height: 250px;
	    background: none;
	    border: 3px solid #00b5ae;
	    margin: auto;
	    display: table;
	    .circle-title{
	    	display: table-cell;
			  vertical-align: middle;
			  text-align: center;
			  color: #4A90E2;
			  font-weight: 100;
			  font-size: 42px;
	    }
		}
		.short-description{
		  color: #4A90E2;
		  font-weight: 100;
		  font-size: 27px;
		  text-align: center;
		  width: 90%;
		  margin: auto;
		  margin-top: 17px;
		}
	}
	.button{
		width: 275px;
	  margin: auto;
	  display: block;
	  margin-top: 56px;
	  font-size: 2rem;
	}
}

