// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-payment{
	margin:0px !important;
	.user-details{
		width: 80%;
		margin: auto;
		margin-top: 0px;
		@media only screen and (max-width: 768px) {
			width: 100% !important;
		}
		.payment-fields{
			width: 60% !important;
			@media only screen and (max-width: 768px) {
				width: 100% !important
			}
		}
	}
	.input-label{
		width:30% !important;
		@media only screen and (max-width: 768px) {
			width: 100% !important;
		}
	}
	.billing-info{
		width: 80%;
		margin: auto;
		margin-top: 20px;
		@media only screen and (max-width: 768px) {
			width: 100% !important;
		}
		.full-width{
			width: 60% !important;
			@media only screen and (max-width: 768px) {
				width: 100% !important;
			}
		}
	}
}


.ui.segment.confirmation{
	.header{
		text-align: center;
	}
	.ui.grid{
		margin-top: 0rem;
		margin-bottom: 0rem;
		margin-left: 0rem;
		margin-right: 0rem;
	}
}


.new-payments{
	.order-info{
		height: auto;
		background-color: #ffffff;
		border-right: 1px solid #dadada;
		.course-image{
			width: 180px;
		  margin: auto;
		  display: block;
		  margin-top: 37px;
		  border-radius: 40px;
		}
		.course-name{
			text-align: center;
		}
		.course-address{
			text-align: center;
		}
		.course-date{
			text-align: center;
		}
		.subtotal{
			text-align: center;
		}
		.booking-fee{
			text-align: center;
		}
	}
	.payment-details{
		background: #F8F8F8;
		height: auto;
		.checkout-header{
			text-align: center;
		}
		.ui.divider{
			width: 90%;
  		margin: auto;
  		border-top: 1px solid #dadada;
  		margin-bottom: 4rem;
		}
	}
}