// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-payment{
	margin:0px !important;
	.user-details{
		width: 80%; 
		margin: auto; 
		margin-top: 20px;		
		@media only screen and (max-width: 768px) {
			width: 100% !important;
		}
		.payment-fields{
			width: 60% !important;
			@media only screen and (max-width: 768px) {
				width: 100% !important
			}
		}
	}
	.input-label{
		width:30% !important;
		@media only screen and (max-width: 768px) {
			width: 100% !important;
		}
	}
	.billing-info{
		width: 80%; 
		margin: auto; 
		margin-top: 20px;
		@media only screen and (max-width: 768px) {
			width: 100% !important;
		}
		.full-width{
			width: 60% !important;
			@media only screen and (max-width: 768px) {
				width: 100% !important;
			}
		}		
	}
}