// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
 	padding: 0px;
 	position: absolute;
	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
}

.pink{
	color: #de809a;
}
.blue{
	color:#70b7ba;
}
.orange{
	color: #f6b286;
}
.green{
	color: #a4eeaf;
}
.purple{
	color: #b192cd;
}
.yellow{
	color: #d2ca72;
}

#container{	
	height: 100%;
	position: absolute;
	width: 100%;
	#left{
	  width: 260px;		
		background: #101617;
		height: 100%;
		position: fixed;
		float: left;		
		.account{
			width: 100%;
			height: 30px;
			top: 10px;
			position: relative;			
			.account-buttons{
				display: inline-block;
				width: 30%;
				height: 80%;
				position: relative;
				top: 3px;
				border: 1px solid black;
				border-radius: 17px;
				background: #413a4d;				
				text-align: center;
				line-height: 1.8; 
				color: #d5ddd5;
			}
			.login{				
				margin-left: 40px;
				margin-right: 15px;				
			}
			.signup{				
				
			}
		}
		.courses{
			margin-top: 60px;
			.course-section{
				margin-bottom: 25px;
				.course-type-logo{
					position: relative;
					left: 30px;
				}
				.course-type-title{
					display: inline-block;
					left: 43px;
					position: relative;						
					font-weight: 100;
				}
			}
		}
	}
	#right{
	  margin-left: 260px;	
	  min-height: 100%	
	}
}



.background{
	background: #d2ca72;
	min-height: 100%;
	position: absolute;
	.yes-button{
		display: inline-block;
		background: #706f42;
		border-radius: 20px;
		height: 27px;
		color: #d5ddd5;
		width: 60px;
		text-align: center;
		margin-left: 25px;
	}
	.sign-up-form{
		width: 60%;
		margin: auto;
		position: relative;
		margin-top: 100px;
		padding-left: 29px;
		padding-right: 29px;
		input{
			width: 100%;
			border-radius: 2px;
			height: 24px;
		}
		.image-field{
			width: 46%;
			display: inline-block;
			border: 2px solid #807e4f;
			height: 246px;
			float: left;
		}
		.field{			
			width: 46%;
			margin-left: 33px;
			float: right;
			margin-bottom: 10px;			
		}
		.bottom-fields{
			display: inline-block;
			width: 100%;
			margin-bottom: 10px;
		}
		.social-bottom-fields{
			width: 46%;
			display: inline-block;
			margin-bottom: 10px;
		}
		.left{
			margin-right: 45px;
		}
		.sign-up-button{
			width: 115px;
			margin: auto;
			display: block;
			position: relative;
			margin-top: 33px;
			background: #182123;
			border: none;
			border-radius: 20px;
			height: 40px;
			color: #d5ddd5;
		}
	}
}