// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
 	padding: 0px;
 	position: absolute;
	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
}

.pink{
	color: #de809a;
}
.blue{
	color:#70b7ba;
}
.orange{
	color: #f6b286;
}
.green{
	color: #a4eeaf;
}
.purple{
	color: #b192cd;
}
.yellow{
	color: #d2ca72;
}

#container{	
	height: 100%;
	position: absolute;
	width: 100%;
	overflow: auto;
	#left{
	  width: 260px;
		background: #101617;
		height: 100%;
		float: left;
		min-height: 100%;		
		position: fixed;
		.account{
			width: 100%;
			height: 60px;
			top: 10px;
			position: relative;	
			.profile-pic{
				border-radius: 70px;
				width: 47px;
				border: 1px solid white;
				margin: auto;
				display: block;
			}	
			.username{
				color: #d5ddd5;
				text-align: center;
			}	
			.account-buttons{
				display: inline-block;
				width: 23%;
				height: 30%;
				position: relative;
				top: 3px;
				border-radius: 25px;
				text-align: center;
				line-height: 1.6;
				color: #d5ddd5;
				border: 1px solid #E9E9E9;
				font-weight: 100;
				font-size: 11px;
				&:hover{
					border: 1px solid #101617;
					text-decoration: none;
					background: #413a4d;
				}
			}
			.login{
				margin-left: 65px;
			}										
			.logged-in-buttons {
				font-size: 9px;
			}
			.dashboard{
				color: #9fea9d;
				margin-left: 70px;
				margin-right: 15px;	
			}
			.logout{				
				color: #a82f20;
			}
		}
		.courses{
			margin-top: 60px;
			.course-section{
				height: 60px;
				line-height: 4;
				&:hover{
					background: #413a4d;
				}
				a{
					display: block;
				}
				.course-type-logo{
					position: relative;
					left: 30px;
				}
				.course-type-title{
					display: inline-block;
					left: 43px;
					position: relative;						
					font-weight: 100;
				}
			}
		}
		.course-provider-button{
			width: 75%;
			height: 45px;
			margin: auto;
			border: 1px solid white;
			border-radius: 32px;
			margin-top: 42px;
			position: relative;
			&:hover{
				background: #d5ddd5;		
			}	
			.provider{
				width: 100%;
				height: 100%;
				display: block;
				line-height: 3;
				text-align: center;
				color: #d5ddd5;
				&:hover{
					text-decoration: none;
					color: #101617;							
				}
			}
		}
	}
	#right{
	  margin-left: 260px;
		min-height: 100%;		
		position: relative;		
	}
}



.background{
	background: #d2ca72;
	min-height: 100%;
	position: absolute;
	.yes-button{
		display: inline-block;
		background: #706f42;
		border-radius: 20px;
		height: 27px;
		color: #d5ddd5;
		width: 60px;
		text-align: center;
		margin-left: 25px;
	}
	.sign-up-form{
		width: 60%;
		margin: auto;
		position: relative;
		margin-top: 50px;
		padding-left: 29px;
		padding-right: 29px;
		input{
			width: 100%;
			border-radius: 2px;
			height: 24px;
		}
		.image-field{
			width: 46%;
			display: inline-block;
			border: 2px solid #807e4f;
			height: 246px;
			float: left;
		}
		.field{			
			width: 46%;
			margin-left: 33px;
			float: right;
			margin-bottom: 10px;			
		}
		.bottom-fields{
			display: inline-block;
			width: 100%;
			margin-bottom: 10px;
		}
		.social-bottom-fields{
			width: 46%;
			display: inline-block;
			margin-bottom: 10px;
		}
		.left{
			margin-right: 45px;
		}
		.sign-up-button{
			width: 115px;
			margin: auto;
			display: block;
			position: relative;
			margin-top: 33px;
			background: #182123;
			border: none;
			border-radius: 20px;
			height: 40px;
			color: #d5ddd5;
		}
	}
}