.ui.top.attached.demo.menu.web{
	background-color: rgba(255,255,255,0.92);
	position: fixed;
	height: 50px;
	width: 100%;
	z-index: 3;

	.item.logo{
		width: 130px;
	}

	.item{
		text-transform: capitalize;
		color: #4A90E2;
		letter-spacing: 1px;
		-webkit-font-smoothing: auto;
		font-size: 17px;
		font-weight: 300;
		height: 100%;
		padding: 1rem;
		&:hover{
			background: #4A90E2;
			color: white;
		}
	}

	.item.right{
		float: right;
	}
}