<div class="row" style="margin-top: 50px;">
	<h2 class="header" style="margin-bottom: 44px; text-decoration: underline;">Course Date Summary</h2>
	<div class="ui two column stackable grid">
    <div class="column six wide">
    	<h3 class="header sub-heading" style="margin-top:0px;">Tickets sold: 1/12</h3>
    </div>
    <div class="column ten wide">
    	<div class="ui teal progress" id="example2" data-attibute="<%= @course_date %>" style="width: 75%;">
        <div class="bar"></div>
      </div>
    </div>
  </div>
  <div class="column">
  	<h3 class="header sub-heading">Revenue: £150.00</h3>
  </div>
</div>