<table class="ui celled table">
	<thead>
	  <tr>
	    <th>Ticket name</th>
	    <th>Price</th>
	    <th>Quantity</th>
	    <th style="text-align: center;">More</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td style="border-bottom: 1px solid #d4d4d5"><%= form.text_field :name, :placeholder => "Early Bird, First Release" %></td>
	    <td style="border-bottom: 1px solid #d4d4d5"><%= form.text_field :price, :placeholder => "20.00" %></td>
	    <td style="border-bottom: 1px solid #d4d4d5"><%= form.text_field :quantity, :placeholder => "100"%></td>
	    <td style="  border-left:none;text-align:center;font-size:1.6rem;padding: 1rem; border-bottom: 1px solid #d4d4d5"><i class="setting icon"></i></td>
	  </tr>
	</tbody>
</table>