
<%# render "all_courses_modal" %>    


<div class="two column stackable ui grid" style="margin:0px;">
    <div class="column sixteen wide">
        <div class="ui segment">
            <h1 style="margin:0px;">SATURDAY SEWING SESSIONS</h1>
        </div>
    </div>
    <!-- LEFT SIDE -->
    <div class="column five wide">
        <div class="ui segment">
            <div class="column">
                <img class="ui medium rounded image" src="/images/wireframe/square-image.png" style="display:block; margin:auto">    
            </div>
            <div class="ui three column grid">
                <div class="column" style="text-align:center; padding-right:0; padding-left:0">
                    <p>256</p>
                    <p>HOURS TAUGHT </p>
                </div>
                <div class="column" style="text-align:center; padding-right:0; padding-left:0">
                    <p>256</p>
                    <p>HOURS TAUGHT </p>
                </div>
                <div class="column" style="text-align:center; padding-right:0; padding-left:0">
                    <p>256</p>
                    <p>HOURS TAUGHT </p>
                </div>
              </div>
        </div>        
    </div>
    <!-- END OF LEFT SIDE -->
    <!-- RIGHT SIDE -->
    <div class="column eleven wide">
        <div class="ui segment">
            <!-- START OF THE TABLE -->
            <h3 style="margin:0px;">ATTENDEES</h3>
            <table class="ui striped table">
                <thead style="display:block">
                    <tr>
                        <th class="one wide">
                            #
                        </th>
                        <th class="seven wide">
                            Name
                        </th>
                        <th class="two wide center aligned">
                            Email
                        </th>
                        <th class="two wide center aligned">
                            Telephone
                        </th>
                        <th class="three wide center aligned">                            
                            Tickets
                        </th>
                        <th class="one wide center aligned">
                            Paid on 
                        </th>
                    </tr>
                </thead>
                <tbody style="display: block; max-height: 208px; overflow-y: auto">   
                		<% @course_date.payments.each do |payment| %>                 
                            <tr style="display:block">
                                <td class="one wide collapsing">1</td>
                                <td class="seven wide"><%= payment.full_name %></td>
                                <td class="two wide left aligned"><%= payment.email %></td>
                                <td class="two wide center aligned"><%# course_date.payments.count %>/<%# course_date.quantity%></td>
                                <td class="three wide center aligned"><%# course_date.max_revenue %></td>
                                <td class="one wide center aligned"><%= payment.created_at.strftime("%m/%d/%Y")%></td>
                            </tr>  
                        <% end %>                      
                </tbody>
            </table>  
            <!-- END OF THE TABLE -->
            <div class="ui segment">
                <div class="ui three column grid">
                    <div class="column">
                        <a><div id="course" class="ui button" style="display:block">SEE ALL COURSES</div></a>
                    </div>
                    <div class="column">
                        <a><div id="course" class="ui button" style="display:block"><%= link_to('NEW COURSE', new_course_path) %></div></a>
                    </div>
                    <div class="column">
                        <a><div id="course" class="ui button" style="display:block">NEW DATE</div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF RIGHT SIDE -->
    <div class="column five wide">
        <div class="ui raised segment">
            <a class="ui red ribbon label">Monthly Summary</a>
            <table class="ui definition table">
                <tbody>
                    <tr>
                        <td class="ten wide column">Bookings</td>
                        <td>38</td>
                    </tr>
                    <tr>
                        <td>Revenue</td>
                        <td>£600.00</td>
                    </tr>
                    <tr>
                        <td>Fee</td>
                        <td>£28.00</td>
                    </tr>
                    <tr>
                        <td>Net Profit </td>
                        <td>£762.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="column eleven wide">
        <div class="ui segment">
            <!-- AT THE MOMENT THIS GRAPH SHOWS YOU THE NUMBER OF COURSES CREATED FROM THE BEGINNING OF THE MONTH -->            
                <%# line_chart @courses.group_by_day(:created_at, range: Date.today.beginning_of_month..Time.now).count %>
            <!-- END OF THE GRAPH -->
            
        </div>
    </div>
</div>