<div class="two column stackable ui grid dashboard course-details-dash">
	<div class="column four wide">
		<%= render "layouts/course_details_sidenav" %>
	</div>
	<div class="column twelve wide">
		<div class="summary">
			<%= render "summary" %>
		</div>
		<!-- <div class="row">
			<h3 class="header">payments</h3>
			<%# line_chart @course_date.payments.group_by_day(:created_at, range: Date.today.beginning_of_month..Time.now).count %>
		</div> -->
	</div>
</div>

