<div class="dash-sidenav">
	<div class="account">
    <div class=""><%= image_tag @user.avatar_url(:thumb), :class => "profile-pic"%></div>
    <div class="username"><%= @user.company_name %></div>
  </div>
  <div class="ui divider"></div>
  <!-- <h3 class="summary-title">Booking Summary</h3>
  <table class="ui table month-summary-table">
	  <tbody>
	    <tr>
	      <td class="title">
	        <i class="calendar outline icon"></i> Course Dates
	      </td>
	      <td class="value">14</td>
	    </tr>
	    <tr>
	      <td>
	        <i class="ticket icon"></i> Tickets sold
	      </td>
	      <td><%# @monthly_payments.count %></td>
	    </tr>
	    <tr>
	      <td>
	        <i class="pound icon"></i> Revenue
	      </td>
	      <td><%# number_to_currency(@revenue , :precision => 2, :unit => "£")  %></td>
	    </tr>
	  </tbody>
	</table> -->
	<!-- <div class="ui divider"></div> -->
	<div class="ui list side-buttons" style="text-align:center">
	  <%= link_to( "Back to Dashboard".html_safe, dashboard_path, :class => "item" ) %>
	</div>
</div>