<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Get in the Game</title>
    <style type="text/css" media="screen">
    </style>
  </head>
    <body>
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" valign="top">
          <table class="main" cellspacing="0" cellpadding="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td class="title-bar" height="60">
                <h2 style="margin-left:10px; margin-top:10px">
                  <%= @subject %>
                </h2>
              </td>
            </tr>
            <tr>
              <td class="content" bgcolor="#FFFFFF" valign="top" style="height:100%;">
                <table border="0" cellpadding="0">
                  <tbody>
                    <%= yield %>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding-top:20px;">
                <div class="share-icons" style="margin-left:20px">
                  <a class='ui facebook button' href="https://www.facebook.com/sharer/sharer.php?u=http://www.courseiam.com" class="popup" style="width:100%">
                    <img src="http://i.imgur.com/UXufLn7.png?1" title="source: imgur.com" />
                  </a>
                    <a class='ui twitter button' href="http://twitter.com/home?status=I have just booked a course with @courseiam at http://www.courseiam.com, check out all the courses available" style="width:100%;">
                    <img src="http://i.imgur.com/jI6S5Uu.png?1" title="source: imgur.com" />
                  </a>
                </div>
              <td>
            <tr>
            <tr style="padding-top:15px">
              <td  valign="middle" height="10" align="center" class="footer-links">
              </td>
            </tr>
            <tr>
              <td class="footer">
                <table align="center" cellspacing="0" cellpadding="0">
                <tr>
              <td></td>
            </tr>
          </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>