<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href='fullcalendar.css' rel='stylesheet' />
	<script src='fullcalendar.min.js'></script>
	<script>

    $(document).ready(function() {

        $('#calendar').fullCalendar({
        });

    });

</script>
</head>
<body>
	<div class="calendar" id="calendar">

	</div>
</body>
</html>